{% extends 'client/base.html' %}

{% block title %}Contact List{% endblock %}

{% block content %}
    <h1>Contact List</h1>
    <ul>
        {% for contact in contacts %}
        <li><a href="{% url 'client:contact_detail' contact.pk %}">{{ contact.name }}</a></li>
        {% empty %}
        <li>No contacts available</li>
        {% endfor %}
    </ul>
    <h1>Profiles list</h1>
        <ul>
        {% for profile in profiles %}
        <li><a href="{% url 'profile:profile' profile.pk %}">{{ profile.first_name }}</a></li>
        {% empty %}
        <li>No contacts available</li>
        {% endfor %}
    </ul>
{% endblock %}




profiles